

body{
    min-height:600px;
    background-color: rgb(218, 137, 17);
}
form{
    
    height: 300px;
    width: 300px;
    background-color: blue;
    position: relative;
    top: 50px;
    left: 517px;
    
}
input{
    background-color: firebrick;
    height: 100px;
    width: 100px;
    
    
}
.data{
    height: 50px;
    width: 300px;
    position: relative;
    top: 80px;
    left: 517px;
    background-color: aliceblue;
}